/* COLORES BASE */

$bg-main: #0d1117;
$bg-card: rgba(10,12,16,.85);

$primary: #f3c316;
$secondary: #2a75bb;

$text-main: #f0f6fc;

/* UI */

$radius: 18px;
$radius-sm: 12px;

$transition: .25s ease;

$border: rgba(255,255,255,.08);
$border-strong: rgba(255,255,255,.18);

$glass: rgba(18,20,26,.55);

/* SOMBRAS */

$shadow-card: 0 18px 40px rgba(0,0,0,.45);
$shadow-soft: 0 10px 25px rgba(0,0,0,.25);

/* BREAKPOINTS */

$bp-md: 768px;
$bp-lg: 992px;
